@tailwind base;
@tailwind components;
@tailwind utilities;

#contextmenu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

#contextmenu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#contextmenu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
}

#contextmenu .item:hover {
    background: #555;
}

#contextmenu .item i {
    display: inline-block;
    margin-right: 5px;
}

#contextmenu hr {
    margin: 2px 0px;
    border-color: #555;
}